@media screen and (max-width: 600px) {
  .wrapperNoteOne {
    .noteCard {
      width: 88%;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .wrapperNoteOne {
    .noteCard {
      width: 88%;
    }
  }
}

@media screen and (min-width: 1025px) {
  .wrapperNoteOne {
    .noteCard {
      width: 88%;
    }
  }
}

.wrapperFlex {
  display: flex;
}

.wrapperNotesAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  margin: 2vh;
  gap: 25px;
  .noteCardContent p {
    font-size: 14px !important;
  }
}

.wrapperNoteOne {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .noteCard {
    margin: 1vw 0 1vw 0;
    height: 95vh;
  }
}
