:root {
  --color1: #eae7dc;
  --color2: #d8c3a5;
  --color3: #8e8d8a;
  --color4: #e98074;
  --color5: #e85a4f;
  --color6: #a4b3b6;
  --color7: #c1c8e4;
  --color8: #def2f1;
  --color9: #a8d0e6;
  --color10: #687864;
}

.CardNote {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.CardNoteHref {
  text-decoration: none;
  color: inherit;
  height: 86%;
}

.CardContent,
.CardContentEdit {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
  p {
    padding: 0 9px 0 9px;
    margin: 0;
  }
  background-color: var(--color1);
}

.CardContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease;
  pointer-events: none;
}

.CardContent:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}
.CardContentDate {
  background-color: var(--color6);
  text-align: right;
}

.CardNoteAction {
  background-color: var(--color1);
}

.CardContentTitle,
.CardNoteAction {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-top: 1px solid black;
}

.CardContentTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.CardContentBody {
  line-height: 1.25;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.CardNoteAction {
  height: 14%;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.CardNoteNewHref {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .CardContent {
    color: red;
  }
  .CardNote {
    height: 42vh;
    width: 95vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .CardContent {
    color: yellow;
  }
  .CardNote {
    height: 32vh;
    width: 76vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .CardContent {
    color: green;
  }
  .CardNote {
    height: 38vh;
    width: 38vw;
  }
}

@media screen and (min-width: 1200px) {
  .CardNote {
    height: 47vh;
    width: 25vw;
  }
}
