.noteCard {
  border: 1px solid black;
  border-radius: 15px !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.cardContentWrapper {
  display: flex;
  flex: 1;
}

.noteCardContent {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 !important;
}

.noteCardTitle,
.noteCardBody {
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.noteCardTitle {
  background-color: hsl(207, 23%, 68%);
  text-overflow: ellipsis;
  padding: 0.5em 0.5em 0 0.5em;
  font-size: 14px !important;
}

.noteCardBody {
  -webkit-line-clamp: 7;
  padding: 0.5em 0.5em 0 0.5em;
  height: 65%;
}

.newNoteBody {
  text-align: center;
  font-size: 30px !important;
}

.MuiCardActions-root {
  background-color: #f5efe6;
}

.noteCardContent {
  background-color: #f5efe6;
}

.noteCardDeleteButton {
  position: absolute;
  z-index: 1;
  height: 30px;
}

@media screen and (max-width: 600px) {
  .noteCard {
    width: 65vw;
    height: 65vh;
  }
  .noteCardDeleteButton {
    height: 8vh;
  }
  .noteCardBodyTextField {
    height: 2px;
    max-height: 2px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .noteCard {
    width: 35vw;
    height: 55vh;
  }
  .noteCardDeleteButton {
    height: 7vh;
  }
  .noteCardBodyTextField {
    height: 150px;
    max-height: 150px;
  }
  .noteCardTitle {
    height: 60px;
  }
  textarea {
    height: 45px;
  }
}

@media screen and (min-width: 1025px) {
  .noteCard {
    width: 25vw;
    height: 40vh;
  }
  .noteCardBodyTextField {
    height: 350px;
    max-height: 350px;
  }
}

.noteCardTitleTextField,
.noteCardBodyTextField {
  width: 100% !important;
}
